<%- include('../partials/header') %>
    <%- include('../partials/navbar') %>

        <ol class="list-group list-group-numbered">
            <%for(let item of user.cart){%>
                <li class="list-group-item">
                    <%=item.name%>---><%=item.price%>
                </li>

                <%}%>
        </ol>
        <%- include('../partials/footer') %>